@use 'typography';

.summary {
  display: flex;
  gap: 24px;
}

.progressLabel {
  @include typography.heading-3;
  color: var(--color-text-body);
}

.topRightContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.badge {
  width: fit-content;
}

.timeAttribute {
  @include typography.body-2;
  color: var(--color-text-header);

  span {
    @include typography.body-2-medium;
  }
}
