@use 'typography';
@import 'assets/common/scss/variables';

.table {
  margin: 0;
}

.body {
  height: 450px;
  overflow-y: auto;
  display: block;
}

.loader {
  border-radius: var(--border-radius-4) var(--border-radius-4) 0 0;
}

.header {
  @include typography.body-2;
  color: var(--color-text-secondary);
  display: grid;
  grid-template-columns: 2.5fr repeat(3, 1fr);
  padding: 8px 20px;
  align-items: center;
  grid-gap: 8px;
  border-bottom: 1px solid var(--color-border-light);

  & > th {
    @include typography.helper-1-medium;
    color: var(--color-text-labels);
  }
}
