@use 'typography';

.videoContent {
  background-color: var(--color-primary-20);
}

.layout {
  .description {
    text-align: center;
    max-width: 547px;
    margin: 0 auto;
    padding: 20px;
  }

  .primaryButton {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
