@use 'typography';

@import 'assets/common/scss/variables';

.breadcrumbsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;

  .breadcrumbs {
    display: flex;
    gap: 4px;
  }

  .title {
    @include typography.helper-1-medium;
    color: var(--color-text-primary);
  }
}
