@use 'mixins/text-overflow' as text-overflow;
@use 'typography';

@import '../../../common/scss/variables';

@import '../../../common/scss/mixins/elevation';

.sidebar-header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.sidebar-header-flexible {
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.popover {
  position: absolute;
  width: 345px;
  max-height: 407px;
  top: 19px;
  left: 12px;
  @include text-overflow.ellipsis;
  box-shadow: var(--shadow-2);

  &:hover {
    cursor: pointer;
  }

  .search {
    .input {
      @include typography.helper-1;
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      box-shadow: none;
      border-bottom: solid 1px var(--color-border-light);
      background-size: 15px 15px !important;
      background-position: 10px center !important;
      background-image: url(common/images/chrome/magnify-2.svg) !important;
      background-repeat: no-repeat !important;
      padding-left: 36px;
      margin: 0;
    }
  }

  .header {
    padding: 7px 15px;
    margin-top: 10px;

    .headerName {
      @include typography.subheader-1;
      text-transform: uppercase;
      color: var(--color-text-primary);
    }
  }

  .scroll {
    max-height: 282px;
    overflow-y: auto;

    .list-view {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 15px;
      height: 38px;

      .list-view-name {
        @include typography.subheader-2;
        @include text-overflow.ellipsis;
        color: var(--color-text-primary);
      }

      .list-view-default-container {
        flex: 0.2 1;

        .list-view-default-badge {
          background-color: var(--color-neutral-20);
          width: 43px;
          color: var(--color-text-labels);
          font-size: 7px;
        }
      }

      .options {
        opacity: 0;
        vertical-align: center;

        i {
          padding: 0 5px;
          color: var(--color-icon-normal);
        }

        i:last-child {
          padding-right: 0;
        }
      }

      &:hover .options {
        opacity: 1;
      }

      &:hover {
        background-color: var(--color-bg-secondary);
      }

      .totalSavedSearches {
        @include typography.subheader-1;
        color: var(--color-primary-50);
        @include text-overflow.ellipsis;
      }
    }

    .listViewActive {
      background: var(--color-primary-50);

      .list-view-name {
        color: var(--color-text-reversed);
      }

      .options {
        opacity: 0;

        i {
          color: var(--color-icon-inverted);
        }
      }

      &:hover .options {
        opacity: 1;
      }

      &:hover {
        background: var(--color-primary-50);
      }
    }

    .more-or-less {
      @include typography.subheader-2;
      color: var(--color-primary-50);
      line-height: 21px;
    }

    .separator {
      border-bottom: 1px solid var(--color-border-light);
      margin: 10px 0;
    }
  }
}

.buttonSeparator {
  color: var(--color-neutral-30);
}

.limitText {
  padding: 0 15px;
  margin: 8px 0;

  white-space: pre-line;
}

.alertIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-right: 4px;
}

.fetchingText {
  margin-top: 4px;
  padding: 0 8px;

  display: flex;
  gap: 4px;
  align-items: center;

  color: var(--color-text-secondary);

  :global(.zp-icon) {
    color: currentcolor;
  }
}
