@use 'typography';
@import 'assets/common/scss/variables';

.description {
  @include typography.body-2-medium;
  color: var(--color-text-labels);
}

.invalid-signals {
  margin-top: 22px;
  color: var(--color-text-secondary);
  padding: 0;
}

.signal {
  margin-right: 10px;
  margin-bottom: 10px;
}

.success-message {
  display: flex;
  align-items: center;

  .checkmark {
    color: var(--color-text-positive);
    margin: 8px;
  }
}
