.content {
  padding: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-folder {
  display: flex;
  align-items: center;
  padding: 10px 10px 0;

  .name-input {
    flex: 1;
    margin-right: 10px;
  }
}
