@use 'typography';

.formDialogFooter {
  flex-direction: row-reverse;
  gap: 8px;

  & > :global(.zp-button):first-child {
    margin: 0;
  }

  & > button:nth-child(2) {
    order: 1;
    margin-right: auto;
  }
}

.selectedContactsInfo {
  padding: 16px;
  margin-top: 6px;
  background-color: var(--color-bg-secondary);
}

.modalNotificationWarning {
  border-radius: 6px;
  @include typography.helper-1-medium;
  border: 1px solid var(--base-primary-primary-20, var(--color-caution-20));
}

.modalNotificationInfo {
  border-radius: 6px;
  @include typography.helper-1-medium;
  color: var(--color-text-links);
  border: 1px solid var(--base-primary-primary-20, var(--color-primary-20));
}

.inactiveSequenceNotification {
  border-radius: 6px;
  color: var(--color-text-caution);
  border: 1px solid var(--color-caution-20);
  @include typography.helper-1-medium;
}
