@use 'typography';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  overflow-y: auto;
  height: 100%;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldWarning {
  margin-top: 16px;
  width: 100%;
  padding: 16px;
}

.fieldError {
  width: 100%;
  padding: 16px;
}

.modalHeader {
  padding: 0;
  margin-top: 60px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;

  [data-intro-head] {
    margin: 8px 0;
  }
}

.intro {
  [data-intro-body] {
    @include typography.body-2;
    color: var(--color-text-body);
  }
}

.modalBody {
  flex: unset;
  padding: 0;
}

.signatureLabel {
  @include typography.subheader-1;
  margin-bottom: 4px;
  margin-top: 16px;
}

.toggleLabel {
  @include typography.body-2;
}

.modalFooter {
  margin-inline: -32px;
  margin-top: auto;
  justify-content: space-between;

  .rightButtonsWrapper {
    display: flex;
    gap: 8px;
  }
}
