@use 'typography';

.testEmailSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.testEmailProgressText {
  @include typography.body-2;
  color: var(--color-text-secondary);
}

.sendFromText {
  @include typography.helper-1;
  color: var(--color-text-secondary);
}
