@import '../../../../common/scss/variables';
@import '../../../../common/scss/vendor/_utilities';

.finder-hr {
  height: 1px;
  background-color: var(--color-neutral-30);
  margin-top: 10px;
  margin-bottom: 10px;
}

.finder-hr-top-20 {
  @extend .finder-hr;
  margin-top: 20px;
}

.finder-hr-top-15 {
  @extend .finder-hr;
  margin-top: 15px;
}

.finder-hr-bottom-20 {
  @extend .finder-hr;
  margin-bottom: 20px;
}

.finder-hr-10 {
  @extend .finder-hr;
  margin: 10px 0;
}

.tooltip-text {
  max-width: 220px;

  a {
    color: var(--color-primary-40) !important;
  }
}

.no-input-margin input {
  margin-bottom: 0 !important;
}

.tabButtons {
  padding: 0 12px 0 17px;

  & + div {
    margin-top: 5px !important;
  }
}

.revenueFilter {
  padding: 0 12px 0 17px;
}

.checkboxFilter {
  border-top: 1px solid var(--color-border-light);
  padding: 8px 12px 13px 17px;
  margin-top: 16px;
}
