@use 'typography';
@import 'assets/common/scss/variables';

@import 'assets/common/scss/placeholders/svg';

.organization-languages-info {
  @include typography.helper-1;
  color: var(--color-text-labels);
  line-height: 1.4em;
  padding-left: 2.4em;
  margin-bottom: 1em;
  @extend %language-small;
  background-repeat: no-repeat;
}
