@use 'typography';
@import 'assets/common/scss/variables';

@import 'assets/common/scss/placeholders/svg';

.self {
  @include typography.body-2;
  color: var(--color-text-labels);
  line-height: 1.4em;
  padding-left: 2.4em;
  margin-bottom: 1em;
  @extend %venture-funding-small;
  background-repeat: no-repeat;
}

.actionLink {
  @include typography.helper-1-medium;
  margin-left: 6px;
}
