@use 'typography';

@import '../../../common/scss/variables';

.organization-parent-sidebar {
  display: flex;
  align-items: center;
}

.organization-parent {
  @include typography.helper-1;
  line-height: 15px;

  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 8px;

  :global {
    .zp-icon {
      font-size: 16px;
      margin-top: -2px;
    }
  }
}

.space {
  margin-right: 4px;
}
