@use 'typography';

@import 'assets/common/scss/variables';

.organizationCompanySizeInfo {
  @include typography.body-2;
  color: var(--color-text-labels);
  line-height: 15px;
  margin-right: 14px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;

  //&.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  //}

  :global {
    .zp-icon {
      @include typography.body-1;
      margin-top: -1px;
    }
  }
}

.space {
  margin-right: 4px;
}

.sidebarSizeInfo {
  display: flex;
  align-items: center;

  .findLead {
    margin-left: 2px;

    .text {
      font-weight: $font-weight-semibold;
    }

    .extensionText {
      @include typography.helper-1-medium;
    }
  }

  .clickable {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &.sidebarBlock {
    display: block;
  }

  &.flex {
    display: flex;
  }

  &.hideHelper {
    .text {
      font-weight: $font-weight-medium;
    }
  }
}
