@use 'typography';

.dayRow {
  + .dayRow {
    margin-top: 2px;
  }
}

.info {
  @include typography.body-2-medium;
  color: var(--color-text-secondary);

  display: flex;
}

.timeBlocks {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.time-block {
  @include typography.helper-1;

  &:not(:last-of-type) {
    padding-right: 4px;
    border-right: 1px solid currentcolor;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}
