@use 'typography';

.container {
  &.hasMarginBottom {
    margin-bottom: 25px;
  }

  &.stylesForNewPage {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  &.usageBox {
    box-shadow: none !important;
  }
}

.rounded {
  border-radius: var(--border-radius-4);
}

.noPadding {
  padding: 0;
}

.zpTeamActionContainer {
  background-color: var(--color-bg-main);
  margin-bottom: 16px;

  .header {
    @include typography.heading-3;
    padding: 20px 14px;
    border-bottom: 1px solid var(--color-border-light);
  }
}
