@use 'typography';

@import 'assets/common/scss/variables';

.dialog {
  width: 500px !important;

  .label {
    @include typography.heading-3;
    color: var(--color-text-labels);

    &.activeLabel {
      color: var(--color-text-body);
    }
  }

  .visibilityLabel {
    @include typography.body-2-medium;
    display: block;
    color: var(--color-text-labels);
    margin-bottom: 14px;
  }

  .fieldWrapper {
    padding: 26px 32px 20px 26px;
    border-bottom: 1px solid var(--color-border-light);

    &:last-child {
      border-bottom: unset;
    }

    .input {
      width: 100%;
    }
  }

  .removeMargin {
    margin: 0;
  }

  .secondRow {
    margin-top: 15px;

    .title {
      @include typography.subheader-1;
      width: 100%;
      color: var(--color-text-secondary);
    }
  }
}

.modalFooter {
  padding: 12px 10px;
}

.dialogForm {
  background-color: var(--color-bg-secondary);
}

.limitText {
  padding: 0 8px;

  white-space: pre-line;
}

.alertIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-right: 4px;
}
