@use 'typography';
@import 'assets/common/scss/variables';

.featureHighlightContainer {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  row-gap: 8px;
}

.featureHighlight {
  display: flex;
  align-items: flex-start;
}

.iconContainer {
  height: 24px;
  width: 24px;

  :global {
    i {
      @include typography.body-1;
    }
  }
}

.featureIcon {
  color: var(--color-primary-50);

  &.tooltipMode {
    color: var(--color-text-reversed);
  }
}

.featureDescription {
  margin: 0;
  margin-left: 8px;
  @include body-2;
  color: var(--color-text-secondary);

  &.tooltipMode {
    color: var(--color-text-reversed);
  }
}

.featureDescriptionSecondary {
  padding: 2px 8px;
  display: inline-block;
  width: max-content;
  border-radius: var(--border-radius-2);
  background: var(--color-quaternary-10);
  color: var(--color-quaternary-50);
}
