@use 'typography';
@import 'assets/common/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.padded {
    padding: 30px 20px;
  }

  .title {
    @include typography.body-2-medium;

    text-align: center;
    color: var(--color-text-secondary);
  }

  .placeholder {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;

    .leftContent {
      flex: 1;
    }

    .rightContent {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
    }

    .leftTopLine {
      width: 60%;
      height: 12px;
      background-color: var(--color-neutral-20);
      border-radius: var(--border-radius-8);
    }

    .leftBottomLine {
      margin-top: 15px;
      width: 100%;
      height: 12px;
      background-color: var(--color-neutral-20);
      border-radius: var(--border-radius-8);
    }

    .rightLine {
      width: 60%;
      height: 15px;
      background-color: var(--color-neutral-20);
      border-radius: var(--border-radius-8);
    }
  }
}
