@import '../../../common/scss/variables';

.default {
  color: white;
  background-color: var(--color-neutral-40);
}

.active {
  color: white;
  background-color: var(--color-primary-50);
}

.paused {
  color: white;
  background-color: var(--color-neutral-40);
}

.finished {
  color: white;
  background-color: var(--color-positive-50);
}

.bounced {
  color: white;
  background-color: var(--color-negative-50);
}

.notSent {
  color: white;
  background-color: var(--color-caution-50);
}
