@import 'assets/common/scss/variables';

.container {
  padding: 0 10px 0 16px;

  @media (max-width: $screen-sm-max) {
    padding: 0 16px;
  }
}

.card {
  padding-top: 20px;
}

.fixedHeight {
  height: 260px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  @media (max-width: $screen-md-max) {
    display: block;
  }
}

.splitContainer {
  padding-top: 16px;
  width: calc(50% - 10px);
  @media (max-width: $screen-md-max) {
    width: 100%;
  }

  &:first-child:last-child {
    width: 100%;
  }
}
