@use 'typography';
@use 'mixins/text-overflow' as text-overflow;

@import 'assets/common/scss/variables';

.topLevelSettingWrapper {
  height: 100%;
  margin-top: -40px;
}

.tabWrapper {
  border-bottom: 1px solid var(--color-border-light);
  margin-bottom: 24px;
}

.tabWrapperQuickLinks {
  margin-bottom: 6px;
}

.settingsTab {
  margin-left: 20px;
  margin-bottom: -1px;
  font-style: normal;
  @include typography.body-1-medium;
  line-height: 22px;

  & a {
    margin-right: 16px !important;
  }
}

.content {
  height: calc(100% - 74px);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding-bottom: 16px;
}

.quiclinkContent {
  height: calc(100% - 66px);
}

.header {
  position: relative;
  margin-left: 20px;
  height: 22px;
  font-style: normal;
  @include typography.heading-3;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: var(--color-neutral-60);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 8px;
}

.item {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-bg-main);
  padding: 8px 20px;

  .title {
    @include typography.body-1-medium;
    margin: 0;
    line-height: 22px;
  }

  .subText {
    @include typography.body-1-medium;
    color: var(--color-text-secondary);
    margin: 0;
  }

  .icon {
    color: var(--color-text-secondary);
    margin-right: 12px;
    margin-top: -4px;
  }

  .tip {
    font-size: 16px;
    cursor: default;
    margin-top: -3px;
    margin-left: 3px;
  }

  .toggleContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: baseline;
    position: relative;
    margin-left: 12px;
    top: 3px;
  }

  &.itemHighlight {
    animation: flash-menu-item 2.5s ease-in-out;
  }

  @keyframes flash-menu-item {
    30% {
      background: var(--color-secondary-40);
    }
  }
}

.hoverableItem:hover {
  cursor: pointer;
  background-color: var(--color-bg-secondary);

  .title,
  .icon {
    color: var(--color-primary-50);
  }
}

.action {
  width: 100%;
  margin-top: 3px;
}

.disabledAction {
  @extend .action;
  @include typography.helper-1-medium;
  color: var(--color-neutral-40);
  cursor: not-allowed;
}

.divider {
  width: 100%;
  margin: 24px 0;
  border-top: 1px solid var(--color-border-light);

  + .divider {
    display: none;
  }
}

.quickLinkDivider {
  margin: 16px 0 !important;
}

.inviteButton {
  margin: 16px 20px !important;
  width: calc(100% - 40px) !important;
}

.select {
  width: 100%;
}

.customContent {
  @include typography.helper-1;
  color: var(--color-text-secondary);
  margin: 5px 20px;
}

.itemLabelGroup {
  display: flex;
  align-items: flex-start;
}

.itemTitleGroup {
  display: flex;
}

.quickLinksTabMenuItem {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 20px;
}

.settingsTabMenuItem {
  margin-top: 0;
  margin-bottom: 0;
}

.flexColumn {
  flex-direction: column;
}

.tasksLimitContent {
  margin-left: auto;
}
