@import 'assets/common/scss/css-variables';
@import 'common/scss/variables';

.taskRowHoverActions {
  span {
    .actionButton:first-child {
      border-radius: var(--border-radius-4) 0 0 var(--border-radius-4) !important;
    }
  }

  .skipAction {
    .actionButton:first-child {
      border-radius: 0 var(--border-radius-4) var(--border-radius-4) 0 !important;
    }
  }

  .actionButton {
    i {
      color: var(--color-icon-hover) !important;
    }
  }
}
