@use 'typography';

@import '../../../common/scss/variables';

.templateRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templateButtonWrapper {
  flex: 1;
}

.templateButtonContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.closeIcon {
  position: absolute;
  right: 30px;
}

.popover {
  width: 350px !important;
  margin: 10px 0;

  :global {
    .popover-header {
      padding: 10px 15px;
      height: 40px;
      background-color: var(--color-bg-main);
      display: flex;
      align-items: center;
      box-shadow: 0 2px 2px -2px var(--color-neutral-40);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    .popover-content {
      margin-top: 0;
      height: 400px;
    }

    .popover-title {
      @include typography.subheader-1;
      line-height: 14px;
    }

    .popover-close-button {
      @include typography.body-2;
      line-height: 14px !important;
      height: 14px !important;
    }
  }
}
