@use 'typography';

.container {
  text-align: center;
}

.image {
  margin-bottom: 8px;
}

.blurb {
  @include typography.body-2-medium;
  color: var(--color-text-secondary);
  padding: 0 16px;
  word-break: break-all;
}
