@import 'assets/common/scss/variables';

.header {
  border-bottom: 1px solid var(--color-border-light);
}

.footer {
  border-top: 1px solid var(--color-border-light);
  padding: 12px 20px;
}

.loadingContainer {
  height: 714px; // matches real modal content height
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    flex-grow: 0;
  }
}

.loadingContainerResetWrapper {
  width: min-content;
}
