@import '../../../../common/scss/variables';

$toastr-width: 268px !default;
$successBgColor: $color-positive-50 !default;
$infoBgColor: $color-primary-50 !default;
$warningBgColor: $color-secondary-50 !default;
$errorBgColor: $color-negative-40 !default;
$defaultSpace: 10px;
