@use 'typography';
@import 'assets/common/scss/variables';

.promotionCard {
  left: unset;
  right: 38px;
  bottom: 38px;
  z-index: 100;
  width: 332px;
}

.buttons {
  padding-top: 16px;
  display: flex;
}

.heading {
  @include typography.heading-3;
}

.subHeading {
  @include typography.body-2;
}
