@import 'assets/common/scss/variables';

.loadingContainer {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableLayoutModalWrapper {
  overflow: hidden;
}

.modalBody {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.tabsContainer {
  padding: 0 25px;
}

.tabContentContainer {
  min-height: 0;
  display: flex;
}

.mainActionButtonsContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.mainActionButtonsContainerRightContainer {
  flex-shrink: 0;
  display: flex;
}

.layoutTabContainer {
  display: flex;
  max-width: 100%;
}

.settingsTabInnerContainer {
  min-width: 400px;
  min-height: 400px;
  padding: 24px;
}

.settingsTabForm {
  width: 100%;
}

.searchInputContainer {
  position: relative;
  padding: 16px 24px;
}

.searchInputWrapper {
  position: relative;
}

.searchInput {
  padding: 0 0 0 34px;
  width: 100%;
  box-shadow: none;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 10px;
  color: var(--color-icon-normal);
}

.leftColumn {
  min-width: 456px;
  overflow-y: auto;
}

.rightColumn {
  overflow-x: auto;

  & > div {
    width: auto;
    height: 100%;
    margin: 0;

    & > div:nth-child(2) {
      height: 100%;

      > div {
        > table {
          position: relative;

          &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
          }
        }
      }
    }
  }
}

.layoutColumnsAccordion {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.accordionTitle {
  display: flex;
  direction: 'column';
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
}

.accordionTitleName {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  color: var(--color-text-primary);
  font-weight: $font-weight-semibold;
}

.accordionTitleCount {
  margin-left: 5px;
  font-weight: $font-weight-regular;
}

.accordionIcon {
  color: var(--color-icon-normal);
  transition: transform 200ms ease;

  &.open {
    color: var(--color-icon-normal);
    transform: rotate(90deg);
  }
}

.accordionItem {
  border: 1px solid var(--color-border-normal);

  &:not(:first-child) {
    margin-top: 8px;
  }

  & > label {
    cursor: pointer;
    align-items: center;
    padding: 7px 12px;
  }

  &.disabledScore {
    opacity: 0.5;
    pointer-events: none;
  }
}

.selectedOptionsContainer {
  padding: 5px 24px;

  & > div {
    border: 1px solid var(--color-border-normal) !important;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.selectedOptionItem {
  display: block;
}

.selectedOptionItemInner {
  display: flex;

  label {
    padding: 7px 12px;
    display: flex;
    width: 100%;
    align-items: center;

    & > span {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }
}

.selectedOptionCheckboxLabel {
  flex-grow: 1;
}

.selectedOptionDragIconContainer {
  i {
    margin-right: 0 !important;
    color: var(--color-icon-normal);

    &:hover {
      cursor: grabbing;
    }
  }
}

.primaryButton {
  margin-right: 0 !important;
}
