@import 'assets/common/scss/variables';

.taskSidebar {
  overflow: hidden;
  display: flex;

  :global {
    .task-execution-sidebar {
      border: 1px solid var(--color-border-light);
      overflow: hidden;
    }
  }
}

.contactSidebar {
  overflow: scroll;
  max-height: calc(100vh - 60px);
  width: 50%;
  margin-bottom: -8px;
}

.taskActionSidebar {
  width: 50%;
  height: calc(100vh - 50px);
  padding: 20px 10px 0 20px;
  border-right: 1px solid var(--color-border-normal);

  &.fullWidth {
    width: 100%;
  }
}
