@use 'typography';
@import '../../../common/scss/variables';
@import '../finders/FinderExplorerSidebar';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.name {
  flex: 1;
}

.actions {
  margin-left: auto;
}

.title {
  @include typography.helper-1;
  color: var(--color-text-primary);
}

.locations {
  font-size: 11px !important;
}

.item {
  border: none !important;
  border-radius: var(--border-radius-4);

  &:hover {
    background-color: white !important;
  }
}
