@import 'assets/common/scss/variables';

.tour {
  [data-tour-elem='subheading'] {
    max-width: 100%;
  }

  [data-tour-elem='controls'] {
    justify-content: center;
  }
}

.customControls {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
  }

  .finishButton {
    margin-left: 14px;
  }
}
