@use 'typography';
@import 'assets/common/scss/variables';

.cardWrapper {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.image {
  height: 128px;
  width: 128px;
  margin: 0 auto 16px;
  display: flex;
}

.dontShowAgain {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
